.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.header>h2 {
    margin: 0;
}
.scroll {
    position: relative;
  
    height: auto;
    overflow-y: scroll;
    }