<div class="container">
    <div  fxLayout="row" fxLayoutGap="30px" >
        <div>
            <mat-icon style="font-size: 40px; color:orange;">view_comfy</mat-icon>
        </div>
      
        <h1 class="head-txt">
            Accounts
        </h1>
    </div>
   
 
   
    <br>
    <div  fxLayout="row"   fxLayout.xs="column"  fxLayoutGap="30px" fxLayoutAlign="start center"  >
     
       

    </div>
    <div  fxLayout="row" fxLayout.sm="column"  fxLayout.xs="column"  fxLayoutGap="30px" fxLayoutAlign="space-between center" >
        <div fxLayout="column">
         
          <div>
              <mat-form-field class="identity-input" appearance="outline" >
         
                  <mat-icon matSuffix class="color-blue">search</mat-icon>
                  <input type="tel" [(ngModel)]="searchname" matInput placeholder="Search" (change)="getSearch()">
                 
                </mat-form-field>
          </div>
        </div>
        <div fxLayout="column">
         
          <div>
              <button  mat-raised-button color="primary" (click)="goPage('create-accounts')">
                  <mat-icon>group_add</mat-icon> 
                  Create Account
              </button>
          </div>
        </div>
       
  
      </div>
      <div  fxLayout="row" fxLayoutAlign="end center" >
        <div>
          <h4>Choose required columns</h4>
        </div>
        <div fxFlexAlign="center" style="margin-top: -15px;">
          <button mat-icon-button (click)="settingClick1()">
            <mat-icon class="vap-icon" aria-hidden="false" aria-label="view_column">view_column</mat-icon>
      
          </button>
       
        </div>
      </div>
    
   <div fxLayout="column" fxLayout.sm="column"  fxLayout.xs="column" >
    <table mat-table [dataSource]="accountOrganization" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> <div fxLayout="row"> <mat-icon style="font-size: 20px; color:orange">tag</mat-icon>ID </div>  </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="groupname">
        <th mat-header-cell *matHeaderCellDef>Legal Name </th>
        <td mat-cell *matCellDef="let element"> {{element.legalName.value}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>  <div fxLayout="row"> <mat-icon style="font-size: 20px; color:orange">alternate_email</mat-icon>Email Address </div>   </th>
        <td mat-cell *matCellDef="let element"> {{element.emailAddress.value}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="createdat">
        <th mat-header-cell *matHeaderCellDef>
              <div fxLayout="row"> <mat-icon style="font-size: 20px; color:orange">watch_later</mat-icon>Created At </div>   </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt |  date:dataService.DATEFORMAT}} </td>
      </ng-container>
      <ng-container matColumnDef="updatedat">
        <th mat-header-cell *matHeaderCellDef>  <div fxLayout="row"> <mat-icon style="font-size: 20px; color:orange">watch_later</mat-icon>Updated At </div>   </th>
        <td mat-cell *matCellDef="let element"> {{element.modifiedAt |  date:dataService.DATEFORMAT}} </td>
      </ng-container>
      <ng-container matColumnDef="createdby">
        <th mat-header-cell *matHeaderCellDef> <div fxLayout="row"> <mat-icon style="font-size: 20px; color:orange">person</mat-icon>Created By</div> </th>
        <td mat-cell *matCellDef="let element"> {{element.createdby}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> <div fxLayout="row"> <mat-icon style="font-size: 20px; color:orange">call_to_action</mat-icon>Action</div>  </th>
        <td mat-cell *matCellDef="let element">
        <div>
          <button mat-icon-button (click)="editAccount(element.id)">
            <mat-icon class="vap-icon" aria-hidden="false" aria-label="create">create</mat-icon>
      
          </button>
        
          <button mat-icon-button>
            <mat-icon class="vap-icon" aria-hidden="false" aria-label="how_to_reg">how_to_reg</mat-icon>
      
          </button>
          <button mat-icon-button>
            <mat-icon class="vap-icon" aria-hidden="false" aria-label="list_alt">list_alt</mat-icon>
      
          </button>
          <button mat-icon-button (click)="goToLink('http://localhost:4200/')">
            <mat-icon class="vap-icon" aria-hidden="false" aria-label="list_alt">add_business</mat-icon>
      
          </button>
     
        </div>  
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRowRecord(row)"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10,15, 20,25,30,35,40,45,50]"
    showFirstLastButtons 
    aria-label="Select page of periodic elements"   >
  </mat-paginator>
    

   </div>


   <br><br>

   <div fxLayout="row" *ngIf="rowBool">
    <mat-tab-group mat-align-tabs="start" fxFlex="100">
        <mat-tab label="Organization Details">

            <div fxLayout="column" style="margin-left: 20px;margin-top:10px">
                <div>
                    <h3>Details</h3>
                </div>
                <div fxLayout="row">
                    <div fxFlex="50">
                        <div fxLayout="row"  fxLayoutGap="20px">
                            <b fxFlex="50">Account Id</b> <p fxFlex="50">{{rowData.id}}</p>
                        </div>
                        <div fxLayout="row"  fxLayoutGap="20px">
                            <b fxFlex="50">Legal Name</b> <p fxFlex="50">{{rowData.legalName.value}}</p>
                        </div>
                        <div fxLayout="row"  fxLayoutGap="20px">
                          <b fxFlex="50">Organization Type</b> <p fxFlex="50">{{rowData.organizationType.value}}</p>
                      </div>
                      <div fxLayout="row"  fxLayoutGap="20px">
                        <b fxFlex="50">Founder</b> <p fxFlex="50">{{rowData.founder.value}}</p>
                      </div>
                      <div fxLayout="row"  fxLayoutGap="20px">
                        <b fxFlex="50">CIN</b> <p fxFlex="50">{{rowData.cin.value}}</p>
                      </div>
                      <div fxLayout="row"  fxLayoutGap="20px">
                        <b fxFlex="50">GSTN</b> <p fxFlex="50">{{rowData.gstin.value}}</p>
                      </div>
                      <div fxLayout="row"  fxLayoutGap="20px">
                        <b fxFlex="50">TAX ID</b> <p fxFlex="50">{{rowData.taxid.value}}</p>
                      </div>

                      
                     

                    </div>
                    <div fxFlex="50">
                      

                    </div>

                </div>

            </div>

        </mat-tab>
        <mat-tab label="Contact Information">
          
          <div fxLayout="row">
            <br>
            <div fxFlex="50">
              <br>
                <div fxLayout="row"  fxLayoutGap="20px">
                    <b fxFlex="50">Website</b> <p fxFlex="50">{{rowData.website.value}}</p>
                </div>
                <div fxLayout="row"  fxLayoutGap="20px">
                  <b fxFlex="50">Email Address</b> <p fxFlex="50">{{rowData.emailAddress.value}}</p>
                </div>
                <div fxLayout="row"  fxLayoutGap="20px">
                  <b fxFlex="50">Telephone Number</b> <p fxFlex="50">{{rowData.telephoneNumber.value}}</p>
                </div>
              

            </div>
            <div fxFlex="50">
              

            </div>

        </div>
        
        
        
        </mat-tab>
        <mat-tab label="Products">
          
          <div fxLayout="row">
            <br>
            <div fxFlex="50">
              <br>
                <div fxLayout="row"  fxLayoutGap="20px">
                    <b fxFlex="50">Product</b> <p fxFlex="50">{{rowData.product.value}}</p>
                </div>
                <div fxLayout="row"  fxLayoutGap="20px">
                  <b fxFlex="50">Product Type</b> <p fxFlex="50">{{rowData.productType.value}}</p>
                </div>
                <div fxLayout="row"  fxLayoutGap="20px">
                  <b fxFlex="50">Number of Devices</b> <p fxFlex="50">{{rowData.numberOfDevices.value}}</p>
                </div>
                <div fxLayout="row"  fxLayoutGap="20px">
                  <b fxFlex="50">Number of Cameras</b> <p fxFlex="50">{{rowData.numberOfCameras.value}}</p>
                </div>
                <div fxLayout="row"  fxLayoutGap="20px">
                  <b fxFlex="50">Number of Gateway</b> <p fxFlex="50">{{rowData.numberOfGateway.value}}</p>
                </div>
                <div fxLayout="row"  fxLayoutGap="20px">
                  <b fxFlex="50">Number of PLC</b> <p fxFlex="50">{{rowData.numberOfPLC.value}}</p>
                </div>

            </div>
            <div fxFlex="50">
              

            </div>

        </div>
        
        
        
        </mat-tab>
        <mat-tab label="Admin Details">
          
          <div fxLayout="row">
            <br>
            <div fxFlex="50">
              <br>
                <div fxLayout="row"  fxLayoutGap="20px">
                    <b fxFlex="50">Salutation</b> <p fxFlex="50">{{rowData.salutation.value}}</p>
                </div>
                <div fxLayout="row"  fxLayoutGap="20px">
                  <b fxFlex="50">Admin Name</b> <p fxFlex="50">{{rowData.adminName.value}}</p>
                </div>
                <div fxLayout="row"  fxLayoutGap="20px">
                  <b fxFlex="50">Admin Email</b> <p fxFlex="50">{{rowData.adminEmail.value}}</p>
                </div>
              

            </div>
            <div fxFlex="50">
              

            </div>

        </div>
        
        
        
        </mat-tab>
        <mat-tab label="Location">
          
           
          <div fxLayout="row">
            <br>
            <div fxFlex="50">
              <br>
                <div fxLayout="row"  fxLayoutGap="20px">
                    <b fxFlex="50">Country</b> <p fxFlex="50">{{rowData.country.value}}</p>
                </div>
                <div fxLayout="row"  fxLayoutGap="20px">
                  <b fxFlex="50">State </b> <p fxFlex="50">{{rowData.state.value}}</p>
                </div>
                <div fxLayout="row"  fxLayoutGap="20px">
                  <b fxFlex="50">Locality</b> <p fxFlex="50">{{rowData.locality.value}}</p>
                </div>
                <div fxLayout="row"  fxLayoutGap="20px">
                  <b fxFlex="50">Street Address</b> <p fxFlex="50">{{rowData.streetAddress.value}}</p>
                </div>
                <div fxLayout="row"  fxLayoutGap="20px">
                  <b fxFlex="50">Post Office Box NUmber</b> <p fxFlex="50">{{rowData.postOfficeBoxNumber.value}}</p>
                </div>
                <div fxLayout="row"  fxLayoutGap="20px">
                  <b fxFlex="50">Postal Code</b> <p fxFlex="50">{{rowData.postalCode.value}}</p>
                </div>
              
              

            </div>
            <div fxFlex="50">
              

            </div>

        </div>
        
        
        
        </mat-tab>
        <mat-tab label="Users">
          
          <div fxFlex="50">
            <br>
              <div fxLayout="row"  fxLayoutGap="20px">
                  <b fxFlex="50">Number of User</b> <p fxFlex="50">{{rowData.numberOfUsers.value}}</p>
              </div>
              <div fxLayout="row"  fxLayoutGap="20px">
                <b fxFlex="50">Number of Web User</b> <p fxFlex="50">{{rowData.numberOfWebUsers.value}}</p>
              </div>
              <div fxLayout="row"  fxLayoutGap="20px">
                <b fxFlex="50">Number of Mobile Users</b> <p fxFlex="50">{{rowData.numberOfMobileUsers.value}}</p>
              </div>
            
            
            

          </div>
          <div fxFlex="50">
            

          </div>
        
        
        </mat-tab>
        <mat-tab label="Subcription & AMC Details">
          
           
          <div fxFlex="50">
            <br>
              <div fxLayout="row"  fxLayoutGap="20px">
                  <b fxFlex="50">Subcription Duration</b> <p fxFlex="50">{{rowData.subcriptionDuration.value}}</p>
              </div>
              <div fxLayout="row"  fxLayoutGap="20px">
                <b fxFlex="50">Start Date</b> <p fxFlex="50">{{rowData.startDate.value |  date:dataService.DATEFORMAT}}</p>
            </div>
            <div fxLayout="row"  fxLayoutGap="20px">
              <b fxFlex="50">Renewal Date</b> <p fxFlex="50">{{rowData.renewalDate.value |  date:dataService.DATEFORMAT}}</p>
            </div>
            <div fxLayout="row"  fxLayoutGap="20px">
              <b fxFlex="50">AMC Duration</b> <p fxFlex="50">{{rowData.amcDuration.value}}</p>
            </div>
            <div fxLayout="row"  fxLayoutGap="20px">
            <b fxFlex="50">AMC Start Date</b> <p fxFlex="50">{{rowData.amcStartDate.value |  date:dataService.DATEFORMAT}}</p>
            </div>
            <div fxLayout="row"  fxLayoutGap="20px">
            <b fxFlex="50">AMC Renewal Date</b> <p fxFlex="50">{{rowData.amcRenewalDate.value |  date:dataService.DATEFORMAT}}</p>
            </div>
             
            
            
            

          </div>
          <div fxFlex="50">
            

          </div>
        
        </mat-tab>
        <mat-tab label="Theme & Typography">
          <div  fxLayout="row"  fxLayoutGap="20px">
            <div fxFlex="50">
              <br>
                <div fxLayout="row"  fxLayoutGap="20px">
                    <b fxFlex="50">Theme Setting Id</b> <p fxFlex="50">{{themeData.id}}</p>
                </div>
              
                <div fxLayout="row"  fxLayoutGap="20px">
                  <b fxFlex="50">Application Background</b> <p fxFlex="50">
                    <mat-icon class="vap-icon" [ngStyle]="{'color': themeData.applicationBackground.value}">square</mat-icon>
                    </p>
               </div>
                
               <div fxLayout="row"  fxLayoutGap="20px">
                <b fxFlex="50">Menu Color</b> <p fxFlex="50">
                  <mat-icon class="vap-icon" [ngStyle]="{'color': themeData.menuColor.value}">square</mat-icon>
               </p>
               </div>
               <div fxLayout="row"  fxLayoutGap="20px">
                <b fxFlex="50">Button Table Color</b> <p fxFlex="50">
                  
                  <mat-icon class="vap-icon" [ngStyle]="{'color': themeData.buttonTableColor.value}">square</mat-icon>
                 </p>
               </div>
               <div fxLayout="row"  fxLayoutGap="20px">
                <b fxFlex="50">Header Color</b> <p fxFlex="50">
                  <mat-icon class="vap-icon" [ngStyle]="{'color': themeData.headerColor.value}">square</mat-icon>
               </p>
               </div>
               <div fxLayout="row"  fxLayoutGap="20px">
                <b fxFlex="50">Widget Color</b> <p fxFlex="50">
                  <mat-icon class="vap-icon" [ngStyle]="{'color': themeData.widgetColor.value}">square</mat-icon>
               </p>
               </div>
               <div fxLayout="row"  fxLayoutGap="20px">
                <b fxFlex="50">Background Heading Text</b> <p fxFlex="50">
                  <mat-icon class="vap-icon" [ngStyle]="{'color': themeData.backgroundHeadingText.value}">square</mat-icon>
                 </p>
               </div>
               <div fxLayout="row"  fxLayoutGap="20px">
                <b fxFlex="50">Menu Text</b> <p fxFlex="50">
                  <mat-icon class="vap-icon" [ngStyle]="{'color': themeData.menuText.value}">square</mat-icon>
                </p>
               </div>
               <div fxLayout="row"  fxLayoutGap="20px">
                <b fxFlex="50">Widget Text</b> <p fxFlex="50">
                  <mat-icon class="vap-icon" [ngStyle]="{'color':themeData.widgetText.value}">square</mat-icon>
                </p>
               </div>
               <div fxLayout="row"  fxLayoutGap="20px">
                <b fxFlex="50">Error Validation</b> <p fxFlex="50">
                  <mat-icon class="vap-icon" [ngStyle]="{'color':themeData.errorValidation.value}">square</mat-icon>
              </p>
               </div>
               <div fxLayout="row"  fxLayoutGap="20px">
                <b fxFlex="50">Header Text Icon</b> <p fxFlex="50">
                  <mat-icon class="vap-icon" [ngStyle]="{'color':themeData.headerTextIcon.value}">square</mat-icon>
                 </p>
               </div>
               <div fxLayout="row"  fxLayoutGap="20px">
                <b fxFlex="50">Input Fields</b> <p fxFlex="50">
                  <mat-icon class="vap-icon" [ngStyle]="{'color':themeData.inputFields.value}">square</mat-icon>
             </p>
               </div>
            
              
              
              
  
            </div>
            <div fxFlex="50">
              <br>
              <div fxLayout="row"  fxLayoutGap="20px">
                <b fxFlex="50">Headline H1</b> <p fxFlex="50">{{themeData.headlineH1.value}}</p>
               </div>
               <div fxLayout="row"  fxLayoutGap="20px">
                <b fxFlex="50">Title H2</b> <p fxFlex="50">{{themeData.titleH2.value}}</p>
               </div>
               <div fxLayout="row"  fxLayoutGap="20px">
                <b fxFlex="50">Subheading 1 H3</b> <p fxFlex="50">{{themeData.subheading1H3.value}}</p>
               </div>
               <div fxLayout="row"  fxLayoutGap="20px">
                <b fxFlex="50">Subheading 1 H3</b> <p fxFlex="50">{{themeData.subheading1H3.value}}</p>
               </div>
               <div fxLayout="row"  fxLayoutGap="20px">
                <b fxFlex="50">Subheading 1 H4</b> <p fxFlex="50">{{themeData.subheading1H4.value}}</p>
               </div>
               <div fxLayout="row"  fxLayoutGap="20px">
                <b fxFlex="50">Body 1 H5</b> <p fxFlex="50">{{themeData.body1H5.value}}</p>
               </div>
               <div fxLayout="row"  fxLayoutGap="20px">
                <b fxFlex="50">Input</b> <p fxFlex="50">{{themeData.input.value}}</p>
               </div>
               <div fxLayout="row"  fxLayoutGap="20px">
                <b fxFlex="50">Button</b> <p fxFlex="50">{{themeData.button.value}}</p>
               </div>
              
  
            </div>
          
          </div>
              
       
        
        
        </mat-tab>
 
      </mat-tab-group>

   </div>

   
</div>