<div class="container">
    <h1 class="head-txt">Create Account</h1>
    <div  fxLayout="row" fxLayoutGap="10px" >
        <div>
            <mat-icon style="font-size: 25px; color:orange;">account_balance</mat-icon>
        </div>
      
        <h2>
            Products 
        </h2>
    </div>

    <div  fxLayout="column">
    <form [formGroup]="form0">
        <formly-form [model]="model0" [fields]="fields0" [options]="options0" [form]="form0"></formly-form>
       
     
      </form>
    
     <!-- <div fxLayout="row" fxLayoutGap="30px">
        <div  fxFlex="33">
            <mat-form-field style="width: 100%;" appearance="outline">
                   
                  
                <mat-select [(value)]="product">
                 
                  <mat-option value="Product">Product</mat-option>
                  <mat-option value="Product1">Product2</mat-option>
                  <mat-option value="Product2">Product3</mat-option>
                </mat-select>
               
              </mat-form-field> 
        </div>
        <div  fxFlex="33">
           
              <mat-form-field style="width: 100%;" appearance="outline">
                   
                  <mat-label>Deployment Type</mat-label>
                <mat-select [(value)]="deployment_type">
                    <mat-option >Deployment Type</mat-option>
                  <mat-option value="On-Premises">On-Premises</mat-option>
                  <mat-option value="SaaS">SaaS</mat-option>
                
                </mat-select>
               
              </mat-form-field> 
        </div>
        <div  fxFlex="33">
            <mat-form-field style="width: 100%;" appearance="outline" >
       
               
                <input type="text" matInput placeholder="Number 0f Devices">
               
              </mat-form-field>
        </div>

     </div>
     <div fxLayout="row" fxLayoutGap="30px">
        <div  fxFlex="33">
            <mat-form-field style="width: 100%;" appearance="outline" >
       
               
                <input type="text" matInput placeholder="Number of Camaras">
               
              </mat-form-field>
        </div>
        <div  fxFlex="33">
            <mat-form-field style="width: 100%;" appearance="outline" >
       
               
                <input type="text" matInput placeholder="Number of Gateway">
               
              </mat-form-field>
        </div>
        <div  fxFlex="33">
            <mat-form-field style="width: 100%;" appearance="outline" >
       
               
                <input type="text" matInput placeholder="Number of PLC">
               
              </mat-form-field>
        </div>

     </div> -->

    </div>
    <div  fxLayout="row" fxLayoutGap="15px" >
        <div>
            <mat-icon style="font-size: 30px; color:orange;">groups</mat-icon>
        </div>
      
        <h2>
            Users
        </h2>
    </div>

    <div  fxLayout="column" >
    
        <form [formGroup]="form1">
            <formly-form [model]="model1" [fields]="fields1" [options]="options1" [form]="form1"></formly-form>
           
         
          </form>
     <!-- <div fxLayout="row" fxLayoutGap="30px">
        <div  fxFlex="33">
            <mat-form-field style="width: 100%;" appearance="outline" >
       
               
                <input type="text" matInput placeholder="Number of Users">
               
              </mat-form-field>
        </div>
        <div  fxFlex="33">
            <mat-form-field style="width: 100%;" appearance="outline" >
       
               
                <input type="text" matInput placeholder="Number of Web Users">
               
              </mat-form-field>
        </div>
        <div  fxFlex="33">
            <mat-form-field style="width: 100%;" appearance="outline" >
       
               
                <input type="text" matInput placeholder="Number of Mobile Users">
               
              </mat-form-field>
        </div>

     </div> -->

    </div>

    <div  fxLayout="row" fxLayoutGap="15px" >
        <div>
            <mat-icon style="font-size: 30px; color:orange;">groups</mat-icon>
        </div>
      
        <h2>
            Account Admin Details
        </h2>
    </div>

    <div  fxLayout="column"   >
        <form [formGroup]="form2">
            <formly-form [model]="model2" [fields]="fields2" [options]="options2" [form]="form2"></formly-form>
           
         
          </form>
   
<!-- 
     <div fxLayout="row" fxLayoutGap="30px">
        <div  fxFlex="20">
            <mat-form-field style="width: 100%;" appearance="outline" >
       
               
                <input type="text" matInput placeholder="Salutation">
               
              </mat-form-field>
        </div>
        <div  fxFlex="40">
            <mat-form-field style="width: 100%;" appearance="outline" >
       
               
                <input type="text" matInput placeholder="Name">
               
              </mat-form-field>
        </div>
        <div  fxFlex="40">
            <mat-form-field style="width: 100%;" appearance="outline" >
       
               
                <input type="text" matInput placeholder="Email Address">
               
              </mat-form-field>
        </div>

     </div> -->

    </div>
    <div  fxLayout="row" fxLayoutGap="15px" >
        <div>
            <mat-icon style="font-size: 30px; color:orange;">autorenew</mat-icon>
        </div>
      
        <h2>
            Subcription & AMC Details
        </h2>
    </div>

    <div  fxLayout="column"   >
    
        <form [formGroup]="form3">
            <formly-form [model]="model3" [fields]="fields3" [options]="options3" [form]="form3"></formly-form>
           
         
          </form>
          
        <form [formGroup]="form4">
            <formly-form [model]="model4" [fields]="fields4" [options]="options4" [form]="form4"></formly-form>
           
         
          </form>

     <!-- <div fxLayout="row" fxLayoutGap="30px">
        <div  fxFlex="33">
            <mat-form-field style="width: 100%;" appearance="outline" >
       
               
                <input type="text" matInput placeholder="Subcription Duration">
               
              </mat-form-field>
        </div>
        <div  fxFlex="33">
            <mat-form-field style="width: 100%;" appearance="outline">
                <input matInput [matDatepicker]="picker" placeholder="Subcription Start Date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
              </mat-form-field>
        </div>
        <div  fxFlex="33">
            <mat-form-field style="width: 100%;" appearance="outline">
                <input matInput [matDatepicker]="picker" placeholder="Subcription Renewel Date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
              </mat-form-field>
        </div>

     </div>
     <div fxLayout="row" fxLayoutGap="30px">
        <div  fxFlex="33">
            <mat-form-field style="width: 100%;" appearance="outline" >
       
               
                <input type="text" matInput placeholder="AMC Duration">
               
              </mat-form-field>
        </div>
        <div  fxFlex="33">
            <mat-form-field style="width: 100%;" appearance="outline">
                <input matInput [matDatepicker]="picker" placeholder="AMC Start Date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
              </mat-form-field>
        </div>
        <div  fxFlex="33">
            <mat-form-field style="width: 100%;" appearance="outline">
                <input matInput [matDatepicker]="picker" placeholder="AMC Renewel Date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
              </mat-form-field>
        </div>

     </div> -->

    </div>




    <div fxLayout="row" fxLayoutAlign="center center" class="bottom-btn"  fxLayoutGap="20px">
        <div>
            <button mat-raised-button style="width: 130px !important;">Cancel</button>
        </div>
        <div>
           
            <button  mat-raised-button color="primary" style="width: 130px !important;">Save</button>
        </div>
        <div>
           
            <button  mat-raised-button color="primary" style="width: 130px !important;" (click)="accountSubmitData()">Save & Next</button>
        </div>
    </div>



   
</div>