<div class="header">
    <h2 mat-dialog-title>Add Group Name</h2>
    <!-- <button mat-icon-button [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
    </button> -->

</div>

<div mat-dialog-content>
    <p>Group Name</p>
</div>
<div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="70">
        <div fxLayout="column" fxLayoutGap="20px">
          
            <br>
            <div fxLayout="row" fxLayoutGap="10px">
               
                <div fxFlex="30">
                    <mat-form-field  style="width: 250px;" class="identity-input" appearance="outline" >
               
                        <input type="tel" matInput placeholder="Group Name" [(ngModel)]="groupname">
                       
                      </mat-form-field>
                </div>
              



            </div>

        </div>
    </div>
    <div fxFlex="20">

     
    </div>
    </div>

<div mat-dialog-actions [align]="'center'">
    <button mat-raised-button [mat-dialog-close]="false">
        Cancel
    </button>
    <button mat-raised-button color="primary" (click)="addgroup()" [mat-dialog-close]="true">
      Save
    </button>
</div>